<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head">
<meta charset="ISO-8859-1">
<title>List Student  Courses</title>
</head>
<body>
<div class="container">
<header th:replace="layouts/layout :: header"/>
  		<h2>List Course</h2>
  		<a th:href="@{/student}" class="btn btn-primary">Back</a>
  		<br><br>
  	  		<div th:if="${studentCourses !=null and !studentCourses.empty}">
  			<table class="table table-bordered  table-hover">
  			<thead class="thead-dark">
  						<tr>
  							<th>Name </th>
  							<th>Description </th>
  							<th>Schedule</th>
  							<th>Available Quota</th>	
  							<th></th>			               
  					</tr>
  					</thead>
  					<tbody>
  					<tr th:each="course : ${studentCourses}"> 
  						<td th:text="${course.name}"> show name</td>
  						<td th:text="${course.description}"> show description</td>
  						<td th:text="${course.schedule}"> show schedule</td>
  						<td th:text="${course.availableQuota}"> show availableQuota</td>		
  							
  						<td> <a th:href="@{/studentCourse/register/}+ ${course.idCourse}+'/'+${student.dni}" th:text="Select"  class="btn btn-success"/></td>						
  					</tr>
  					</tbody>
  			</table>
  		</div>
  		<div th:if="${studentCourses==null or studentCourses.empty}">
  					list of student course empty
  		</div>
<footer th:replace="layouts/layout :: footer"/>
</div>
</body>
</html>